* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu {
    justify-content: space-around;
    background-color: #FF6900;
    display: flex;
    align-items: center;

}

ul.list-style>li {
    list-style: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 13px;
    font-weight: bold;
}

.center {
    width: 20px;
    height: 20px;
}

.logo {
    height: 40px;
    width: 170px;
}

.right {
    color: white;
    margin-top: 13px;
}

/*sezione main*/

.conteiner-pics {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}

.pic {
    width: 33%;

}

img {
    height: auto;
    max-width: 100%;
    margin-top: 30px;
}

.red-txt {
    color: red;
    font-weight: bold;
}

.card {
    position: relative;
}

.red-saldi {
    padding: 3px 12px;
    background-color: red;
    color: white;
    position: absolute;
    top: 490px;
}

.green-saldi {
    padding: 3px 12px;
    background-color: rgb(8, 146, 3);
    color: white;
    position: absolute;
    top: 490px;
    right: 250px;
}

.redtxt {
    color: white;
    background-color: red;
}

.love {
    position: absolute;
    top: 45px;
    right: 0px;
    background-color: white;
    padding-left: 16px;
    padding-right: 15px;
    font-size: 45px;
    color: black;
}

.info {
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.info-sx {
    color: white;
    font-weight: bold;
    line-height: 35px;
}

.info-dx {
    color: white;
    font-weight: bold;
    line-height: 35px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: white;
    font-size: 40px;
    opacity: 0;
}

.card:hover .overlay {
    opacity: 1;
}

.love:hover{
    color: red;
}